In [1]:
# Importing Pandas
import pandas as pd

In [2]:
# Creating a DataFrame from the csv file
df = pd.read_csv("Houston_Properties.csv", encoding= 'unicode_escape')

df.head(20)

,address,price,type,bed,sqft,walk,transit,bike
0,"4031 Wilderness Falls Trl, Humble, TX 77339","$369,900",Single family residence,2,"2,395",53.0,0.0,47.0
1,"19410 Leafwood Ln, Houston, TX 77084","$220,000",Single family residence,3,"1,384",34.0,0.0,52.0
2,"13219 Liliana Glen Ln, Houston, TX 77044","$242,500",Single family residence,3,"1,597",8.0,0.0,26.0
3,"12806 Discipline Ave, Houston, TX 77014","$129,900",Ranch,3,"1,170",11.0,25.0,28.0
4,"4959 Culmore Dr, Houston, TX 77021","$345,000",Single family residence,4,"1,925",50.0,54.0,56.0
5,"1310 Blair St, Houston, TX 77008","$260,000",Single family residence,3,"1,296",75.0,43.0,60.0
6,"803 Martin Rd A, Houston, TX 77018","$449,900",Single family residence,3,"1,861",39.0,47.0,43.0
7,"1806 Royal Fern Ct, Houston, TX 77062","$1,089,500",Single family residence,5,"5,456",24.0,0.0,44.0
8,"5850 Petty St, Houston, TX 77007","$495,000",Single family residence,4,"2,611",38.0,39.0,41.0
9,"5606 Champions Glen Dr, Houston, TX 77069","$369,500",Single family residence,3,"2,794",16.0,0.0,30.0
10,"923 Fall Creek Dr, Huffman, TX 77336","$205,000",Single family residence,3,"1,250",33.0,NaN,35.0
11,"1000 Kirby Dr, Houston, TX 77019","$15,995,000",Single family residence,10,"22,880",34.0,46.0,61.0
12,"5802 Banfield Canyon Ln, Porter, TX 77365","$450,000",Single family residence,3,"2,676",3.0,NaN,32.0
13,"14818 Shottery Dr, Houston, TX 77015","$205,000",Single family residence,4,"1,206",33.0,NaN,28.0
14,"7138 Hollow Cedar Dr, Houston, TX 77049","$306,000",Single family residence,5,"3,159",18.0,0.0,32.0
15,"6215 Maywood Forest Dr, Houston, TX 77088","$255,000",Single family residence,3,"1,990",31.0,33.0,34.0
16,"4948 Leeland St, Houston, TX 77023","$429,900",Single family residence,2,"1,546",79.0,57.0,66.0
17,"14042 Coveney Dr, Houston, TX 77090","$300,000",Single family residence,4,"2,905",15.0,24.0,28.0
18,"3603 Glenwood Springs Dr, Kingwood, TX 77345","$260,000",Single family residence,4,"2,143",21.0,0.0,42.0
19,"3915 Daphne St, Houston, TX 77021","$157,000",Ranch,2,"1,300",63.0,49.0,53.0

In [3]:
# Checking data types
df.dtypes

address     object
price       object
type        object
bed         object
sqft        object
walk       float64
transit    float64
bike       float64
dtype: object

In [4]:
# Converting data types
df.convert_dtypes

df.dtypes

address     object
price       object
type        object
bed         object
sqft        object
walk       float64
transit    float64
bike       float64
dtype: object

In [5]:
# Dropping list elements with null values
df.dropna(inplace = True)

#Separating out all abberant values from a main DataFrame
buffer_df = df.loc[df['transit'] > 100]
main_df = df.loc[df['transit']<= 100]

#Normalizing values for the large number of abberants
buffer_df['walk'] = 50
buffer_df['transit'] = 50
buffer_df['bike'] = 50

#Re-merging the main and buffer DataFrames
main_df = main_df.append(buffer_df)

C:\Users\ANTHON~1\AppData\Local\Temp/ipykernel_1680/1458167773.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  buffer_df['walk'] = 50
C:\Users\ANTHON~1\AppData\Local\Temp/ipykernel_1680/1458167773.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  buffer_df['transit'] = 50
C:\Users\ANTHON~1\AppData\Local\Temp/ipykernel_1680/1458167773.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  buffer_df['bike'] = 50

In [6]:
main_df

,address,price,type,bed,sqft,walk,transit,bike
0,"4031 Wilderness Falls Trl, Humble, TX 77339","$369,900",Single family residence,2,"2,395",53.0,0.0,47.0
1,"19410 Leafwood Ln, Houston, TX 77084","$220,000",Single family residence,3,"1,384",34.0,0.0,52.0
2,"13219 Liliana Glen Ln, Houston, TX 77044","$242,500",Single family residence,3,"1,597",8.0,0.0,26.0
3,"12806 Discipline Ave, Houston, TX 77014","$129,900",Ranch,3,"1,170",11.0,25.0,28.0
4,"4959 Culmore Dr, Houston, TX 77021","$345,000",Single family residence,4,"1,925",50.0,54.0,56.0
...,...,...,...,...,...,...,...,...
929,"7828 Rue Carre St 31, Houston, TX 77074","$159,000",Townhouse,3,"1,247",50.0,50.0,50.0
933,"2110 Wilcrest Dr APT 145, Houston, TX 77042","$105,000",Townhouse,1,780,50.0,50.0,50.0
949,"2816 S Bartell Dr APT 5, Houston, TX 77054","$112,999",Townhouse,2,825,50.0,50.0,50.0
1004,"2240 Mimosa Dr PENTHOUSE 7W, Houston, TX 77019","$4,495,000",Condominium,3,"4,346",50.0,50.0,50.0
1016,"8787 Brae Acres Rd APT 824, Houston, TX 77074","$115,000",Townhouse,2,"1,090",50.0,50.0,50.0

In [7]:
main_df.to_csv("Cleaned1.csv")

In [8]:
zipcodes = list()

for item in main_df['address']:
    zipcode = item.split()[-1]
    zipcodes.append(zipcode)

main_df['zipcodes'] = zipcodes
df = pd.DataFrame(main_df)

In [9]:
main_df.to_csv("Cleaned2.csv")