In [33]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.linear_model import LinearRegression

In [4]:
df = pd.read_csv(Path('../DataScraped/Cleaned2.csv'))
df.head()

,Unnamed: 0,address,price,type,bed,sqft,walk,transit,bike,zipcodes
0,0,"4031 Wilderness Falls Trl, Humble, TX 77339","$369,900",Single family residence,2,"2,395",53.0,0.0,47.0,77339
1,1,"19410 Leafwood Ln, Houston, TX 77084","$220,000",Single family residence,3,"1,384",34.0,0.0,52.0,77084
2,2,"13219 Liliana Glen Ln, Houston, TX 77044","$242,500",Single family residence,3,"1,597",8.0,0.0,26.0,77044
3,3,"12806 Discipline Ave, Houston, TX 77014","$129,900",Ranch,3,"1,170",11.0,25.0,28.0,77014
4,4,"4959 Culmore Dr, Houston, TX 77021","$345,000",Single family residence,4,"1,925",50.0,54.0,56.0,77021

In [5]:
df.columns

Index(['Unnamed: 0', 'address', 'price', 'type', 'bed', 'sqft', 'walk',
       'transit', 'bike', 'zipcodes'],
      dtype='object')

In [6]:
df.dtypes

Unnamed: 0      int64
address        object
price          object
type           object
bed            object
sqft           object
walk          float64
transit       float64
bike          float64
zipcodes        int64
dtype: object

In [7]:
df.isnull().sum()

Unnamed: 0    0
address       0
price         0
type          0
bed           0
sqft          0
walk          0
transit       0
bike          0
zipcodes      0
dtype: int64

In [54]:
# Create our features
X = df.copy()
X= X.drop("transit",axis=1)
X.head()
X = pd.get_dummies(X)
# Create our target

y = df["transit"]

In [55]:
X.columns

Index(['Unnamed: 0', 'walk', 'bike', 'zipcodes',
       'address_1000 Kirby Dr, Houston, TX 77019',
       'address_10000 Westview Dr 6, Houston, TX 77055',
       'address_10001 Westpark Dr APT 67, Houston, TX 77042',
       'address_10011 Lazy Meadows Dr, Houston, TX 77064',
       'address_10015 Lizette Ct, Houston, TX 77075',
       'address_1003 Vest Ct, Houston, TX 77073',
       ...
       'sqft_966', 'sqft_972', 'sqft_975', 'sqft_978', 'sqft_980', 'sqft_981',
       'sqft_982', 'sqft_988', 'sqft_989', 'sqft_992'],
      dtype='object', length=2199)

In [56]:
# Split data into train/test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train.shape

(708, 2199)

In [57]:
# Instantiate linear regression variable
model = LinearRegression()
# Use data to learn patterns (fitting or training)
model.fit(X_train, y_train)

LinearRegression()

In [58]:
y_pred = model.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head()

   Prediction  Actual
0   63.208449    54.0
1   52.186297    46.0
2   35.100484    34.0
3   53.983134    73.0
4   15.049629    50.0