In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.linear_model import LinearRegression

In [2]:
# db added by Jose
import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

In [3]:
print(db_password)

Finalhhppdb

In [4]:
#Create database
    
#local server connection string
db_string = f"postgresql://postgres:{db_password}@hhpp-db.cib8i0dtf6rx.us-east-1.rds.amazonaws.com:5432/hhppdb"
    
#create the database engine/connection
engine = create_engine(db_string)

In [5]:
super_df = pd.read_sql_table("houston_super_neighborhoods", con=engine, schema=None, index_col=None, coerce_float=True, parse_dates=None, columns=None, chunksize=None)

In [6]:
super_df.head()

   id                          name total_population median_household_income
0   0                           N/A            24819                   30438
1   1              Kashmere Gardens            10055                   23102
2   2     Trinity / Houston Gardens            15789                   27789
3   3                     Settegast             2981                   28821
4   4  Denver Harbor / Port Houston            17571                   29273

In [7]:
df = pd.read_sql_table("properties", con=engine, schema=None, index_col=None, coerce_float=True, parse_dates=None, columns=None, chunksize=None)
df.head(10)

,id,super_id,address,price,type,bed,sqft,walk,transit,bike,zipcode
0,1,80,"4031 Wilderness Falls Trl, Humble, TX 77339","$369,900.00",Single family residence,2.0,2395.0,53,0,47,77339
1,2,40,"19410 Leafwood Ln, Houston, TX 77084","$220,000.00",Single family residence,3.0,1384.0,34,0,52,77084
2,3,0,"13219 Liliana Glen Ln, Houston, TX 77044","$242,500.00",Single family residence,3.0,1597.0,8,0,26,77044
3,4,0,"13219 Liliana Glen Ln, Houston, TX 77014","$129,900.00",Ranch,3.0,1170.0,11,25,28,77014
4,5,17,"4959 Culmore Dr, Houston, TX 77021","$345,000.00",Single family residence,4.0,1925.0,50,54,56,77021
5,6,0,"13219 Liliana Glen Ln, Houston, TX 77008","$260,000.00",Single family residence,3.0,1296.0,75,43,60,77008
6,7,62,"803 Martin Rd A, Houston, TX 77018","$449,900.00",Single family residence,3.0,1861.0,39,47,43,77018
7,8,77,"1806 Royal Fern Ct, Houston, TX 77062","$1,089,500.00",Single family residence,5.0,5456.0,24,0,44,77062
8,9,85,"5850 Petty St, Houston, TX 77007","$495,000.00",Single family residence,4.0,2611.0,38,39,41,77007
9,10,0,"5606 Champions Glen Dr, Houston, TX 77069","$369,500.00",Single family residence,3.0,2794.0,16,0,30,77069

In [8]:
df.columns

Index(['id', 'super_id', 'address', 'price', 'type', 'bed', 'sqft', 'walk',
       'transit', 'bike', 'zipcode'],
      dtype='object')

In [9]:
df.dtypes

id            int64
super_id      int64
address      object
price        object
type         object
bed         float64
sqft        float64
walk          int64
transit       int64
bike          int64
zipcode       int64
dtype: object

In [10]:
df.isnull().sum()

id          0
super_id    0
address     0
price       0
type        0
bed         4
sqft        1
walk        0
transit     0
bike        0
zipcode     0
dtype: int64

In [11]:
#drop null values
df = df.dropna()

In [12]:
#check if null values dropped
#end jose db
df.isnull().sum()

id          0
super_id    0
address     0
price       0
type        0
bed         0
sqft        0
walk        0
transit     0
bike        0
zipcode     0
dtype: int64

In [13]:
# df = pd.read_csv(Path('../DataScraped/Cleaned2.csv'))
# df.head()

In [14]:
# Create our features
X = df.copy()
X= X.drop("transit",axis=1)
X.head()
X = pd.get_dummies(X)
# Create our target

y = df["transit"]

In [15]:
X.columns

Index(['id', 'super_id', 'bed', 'sqft', 'walk', 'bike', 'zipcode',
       'address_1000 Kirby Dr, Houston, TX 77019',
       'address_10000 Westview Dr 6, Houston, TX 77055',
       'address_10001 Westpark Dr APT 67, Houston, TX 77042',
       ...
       'price_$998,500.00', 'type_Condominium', 'type_Duplex',
       'type_Manufactured home', 'type_Multi family', 'type_Quadruplex',
       'type_Ranch', 'type_Single family residence', 'type_Townhouse',
       'type_Triplex'],
      dtype='object', length=1449)

In [16]:
# Split data into train/test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train.shape

(705, 1449)

In [17]:
# linear regression variable
model = LinearRegression()
# Use data to learn patterns (fitting or training)
model.fit(X_train, y_train)

LinearRegression()

In [18]:
y_pred = model.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head()

   Prediction  Actual
0   38.042470      53
1   37.790834       0
2   36.023642      50
3   -3.879623       0
4   27.952795      36