In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.3.0'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:4 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [83.3 kB]
Hit:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,422 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,322 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-backports/universe amd64 Packages [20.6 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-backports/main amd64 Packages [64.0 kB]
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,080 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,545 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,990 kB]
Fetched 11.7 MB in 5s (2,226 kB/s)
Reading package lists... Done

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-09-25 02:30:23--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  5.73MB/s    in 0.2s

2022-09-25 02:30:24 (5.73 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("M16-Amazon-Challenge").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [22]:
#import csv from aws bucket
from pyspark import SparkFiles
url = "https://hhpp-bucket.s3.amazonaws.com/HoustonSuperNeighborhoods.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("HoustonSuperNeighborhoods.csv"), sep=",", header=True, inferSchema=True)
df.show()

+---+--------------------+----------------+-----------------------+
| id|                name|total_population|median_household_income|
+---+--------------------+----------------+-----------------------+
|  1|    Kashmere Gardens|         10055.0|                23102.0|
|  2|Trinity / Houston...|         15789.0|                27789.0|
|  3|           Settegast|          2981.0|                28821.0|
|  4|Denver Harbor / P...|         17571.0|                29273.0|
|  5|          South Park|         21208.0|                29475.0|
|  6|            Westwood|         19530.0|                29527.0|
|  7|  Greater Fifth Ward|         19687.0|                30535.0|
|  8|Clinton Park / Tr...|          3140.0|                31826.0|
|  9|        East Houston|         18580.0|                31826.0|
| 10|       Magnolia Park|         16999.0|                32039.0|
| 11|Gulfgate Rivervie...|         12723.0|                32595.0|
| 12|       Pleasantville|          2860.0|                32899.0|
| 13|     Eastex - Jensen|         25724.0|                32923.0|
| 14|          Sharpstown|         77220.0|                33086.0|
| 15|Northside / North...|         59410.0|                33713.0|
| 16| Greater Greenspoint|         41392.0|                33909.0|
| 17|Greater OST / Sou...|         19141.0|                34019.0|
| 18|       Hidden Valley|          3569.0|                34452.0|
| 19|          Pecan Park|         16259.0|                34622.0|
| 20|Golfcrest / Bellf...|         51432.0|                34731.0|
+---+--------------------+----------------+-----------------------+
only showing top 20 rows

In [23]:
#gathering total_population information to find mean and add to data
df_describe =df.select(["total_population"])
df_describe.show()

+----------------+
|total_population|
+----------------+
|         10055.0|
|         15789.0|
|          2981.0|
|         17571.0|
|         21208.0|
|         19530.0|
|         19687.0|
|          3140.0|
|         18580.0|
|         16999.0|
|         12723.0|
|          2860.0|
|         25724.0|
|         77220.0|
|         59410.0|
|         41392.0|
|         19141.0|
|          3569.0|
|         16259.0|
|         51432.0|
+----------------+
only showing top 20 rows

In [24]:
#taking mean and creating new row in data. Adding mean for total_population of no super neighborhood row
df_describe.describe().show()

+-------+------------------+
|summary|  total_population|
+-------+------------------+
|  count|                88|
|   mean|24819.045454545456|
| stddev|20102.476331078928|
|    min|            1951.0|
|    max|          106657.0|
+-------+------------------+

In [25]:
#after adding row 0 with new data we will upload the data from csv to database
url = "https://hhpp-bucket.s3.amazonaws.com/HoustonSuperNeighborhoodsUpdated.csv"
spark.sparkContext.addFile(url)
df_table = spark.read.csv(SparkFiles.get("HoustonSuperNeighborhoodsUpdated.csv"), sep=",", header=True, inferSchema=True)
df_table.show()

+---+--------------------+----------------+-----------------------+
| id|                name|total_population|median_household_income|
+---+--------------------+----------------+-----------------------+
|  0|                 N/A|           24819|                  30438|
|  1|    Kashmere Gardens|           10055|                  23102|
|  2|Trinity / Houston...|           15789|                  27789|
|  3|           Settegast|            2981|                  28821|
|  4|Denver Harbor / P...|           17571|                  29273|
|  5|          South Park|           21208|                  29475|
|  6|            Westwood|           19530|                  29527|
|  7|  Greater Fifth Ward|           19687|                  30535|
|  8|Clinton Park / Tr...|            3140|                  31826|
|  9|        East Houston|           18580|                  31826|
| 10|       Magnolia Park|           16999|                  32039|
| 11|Gulfgate Rivervie...|           12723|                  32595|
| 12|       Pleasantville|            2860|                  32899|
| 13|     Eastex - Jensen|           25724|                  32923|
| 14|          Sharpstown|           77220|                  33086|
| 15|Northside / North...|           59410|                  33713|
| 16| Greater Greenspoint|           41392|                  33909|
| 17|Greater OST / Sou...|           19141|                  34019|
| 18|       Hidden Valley|            3569|                  34452|
| 19|          Pecan Park|           16259|                  34622|
+---+--------------------+----------------+-----------------------+
only showing top 20 rows

In [26]:
#Check datatype
df_table.printSchema

In [27]:
# Store environmental variable

from getpass import getpass
password = getpass('Enter database password')

# Configure settings for RDS

mode = "append"
jdbc_url="jdbc:postgresql://hhpp-db.cib8i0dtf6rx.us-east-1.rds.amazonaws.com:5432/hhppdb"
config = {"user":"postgres", 
          "password": password, 
          "driver":"org.postgresql.Driver"}

Enter database password··········

In [28]:
# Write df to super neighborhoods table in RDS
df_table.write.jdbc(url=jdbc_url, table='houston_super_neighborhoods', mode=mode, properties=config)

In [29]:
# Read super neighborhoods table from database
read_df = spark.read.jdbc(url=jdbc_url, table='houston_super_neighborhoods', properties=config)
read_df.show()

+---+--------------------+----------------+-----------------------+
| id|                name|total_population|median_household_income|
+---+--------------------+----------------+-----------------------+
|  0|                 N/A|           24819|                  30438|
|  1|    Kashmere Gardens|           10055|                  23102|
|  2|Trinity / Houston...|           15789|                  27789|
|  3|           Settegast|            2981|                  28821|
|  4|Denver Harbor / P...|           17571|                  29273|
|  5|          South Park|           21208|                  29475|
|  6|            Westwood|           19530|                  29527|
|  7|  Greater Fifth Ward|           19687|                  30535|
|  8|Clinton Park / Tr...|            3140|                  31826|
|  9|        East Houston|           18580|                  31826|
| 10|       Magnolia Park|           16999|                  32039|
| 11|Gulfgate Rivervie...|           12723|                  32595|
| 12|       Pleasantville|            2860|                  32899|
| 13|     Eastex - Jensen|           25724|                  32923|
| 14|          Sharpstown|           77220|                  33086|
| 15|Northside / North...|           59410|                  33713|
| 16| Greater Greenspoint|           41392|                  33909|
| 17|Greater OST / Sou...|           19141|                  34019|
| 18|       Hidden Valley|            3569|                  34452|
| 19|          Pecan Park|           16259|                  34622|
+---+--------------------+----------------+-----------------------+
only showing top 20 rows

In [30]:
from IPython.utils import encoding
#import the properties csv
url = "https://hhpp-bucket.s3.amazonaws.com/Property_IDs.csv"
spark.sparkContext.addFile(url)
df_properties = spark.read.csv(SparkFiles.get("Property_IDs.csv"), sep=",", header=True, inferSchema=True)
df_properties.show()

+---+---+--------------------+--------+--------------------+---+-----+----+-------+----+-------+
|_c0| id|             address|   price|                type|bed| sqft|walk|transit|bike|zipcode|
+---+---+--------------------+--------+--------------------+---+-----+----+-------+----+-------+
|  1| 80|4031 Wilderness F...|  369900|Single family res...|  2| 2395|  53|      0|  47|  77339|
|  2| 40|19410 Leafwood Ln...|  220000|Single family res...|  3| 1384|  34|      0|  52|  77084|
|  3|  0|13219 Liliana Gle...|  242500|Single family res...|  3| 1597|   8|      0|  26|  77044|
|  4|  0|13219 Liliana Gle...|  129900|               Ranch|  3| 1170|  11|     25|  28|  77014|
|  5| 17|4959 Culmore Dr, ...|  345000|Single family res...|  4| 1925|  50|     54|  56|  77021|
|  6|  0|13219 Liliana Gle...|  260000|Single family res...|  3| 1296|  75|     43|  60|  77008|
|  7| 62|803 Martin Rd A, ...|  449900|Single family res...|  3| 1861|  39|     47|  43|  77018|
|  8| 77|1806 Royal Fern C...| 1089500|Single family res...|  5| 5456|  24|      0|  44|  77062|
|  9| 85|5850 Petty St, Ho...|  495000|Single family res...|  4| 2611|  38|     39|  41|  77007|
| 10|  0|5606 Champions Gl...|  369500|Single family res...|  3| 2794|  16|      0|  30|  77069|
| 11| 84|1000 Kirby Dr, Ho...|15995000|Single family res...| 10|22880|  34|     46|  61|  77019|
| 12|  0|7138 Hollow Cedar...|  306000|Single family res...|  5| 3159|  18|      0|  32|  77049|
| 13| 39|6215 Maywood Fore...|  255000|Single family res...|  3| 1990|  31|     33|  34|  77088|
| 14| 46|4948 Leeland St, ...|  429900|Single family res...|  2| 1546|  79|     57|  66|  77023|
| 15|  0|14042 Coveney Dr,...|  300000|Single family res...|  4| 2905|  15|     24|  28|  77090|
| 16| 80|3603 Glenwood Spr...|  260000|Single family res...|  4| 2143|  21|      0|  42|  77345|
| 17| 17|3915 Daphne St, H...|  157000|               Ranch|  2| 1300|  63|     49|  53|  77021|
| 18| 37|4508 Old Yale St ...|  369900|Single family res...|  3| 1574|  53|     47|  73|  77018|
| 19| 80|2807 Sandberry Dr...|  279000|Single family res...|  3| 1964|  45|      0|  36|  77345|
| 20| 45|306 Fellows Rd, H...|  225000|Single family res...|  3| 2096|  20|      0|  31|  77047|
+---+---+--------------------+--------+--------------------+---+-----+----+-------+----+-------+
only showing top 20 rows

In [31]:
#rename the first two colums to fit the sql table name scheme
df_properties_rename = df_properties.withColumnRenamed("id", "super_id")
df_properties_rename2 = df_properties_rename.withColumnRenamed("_c0", "id")
df_properties_rename2.show()

+---+--------+--------------------+--------+--------------------+---+-----+----+-------+----+-------+
| id|super_id|             address|   price|                type|bed| sqft|walk|transit|bike|zipcode|
+---+--------+--------------------+--------+--------------------+---+-----+----+-------+----+-------+
|  1|      80|4031 Wilderness F...|  369900|Single family res...|  2| 2395|  53|      0|  47|  77339|
|  2|      40|19410 Leafwood Ln...|  220000|Single family res...|  3| 1384|  34|      0|  52|  77084|
|  3|       0|13219 Liliana Gle...|  242500|Single family res...|  3| 1597|   8|      0|  26|  77044|
|  4|       0|13219 Liliana Gle...|  129900|               Ranch|  3| 1170|  11|     25|  28|  77014|
|  5|      17|4959 Culmore Dr, ...|  345000|Single family res...|  4| 1925|  50|     54|  56|  77021|
|  6|       0|13219 Liliana Gle...|  260000|Single family res...|  3| 1296|  75|     43|  60|  77008|
|  7|      62|803 Martin Rd A, ...|  449900|Single family res...|  3| 1861|  39|     47|  43|  77018|
|  8|      77|1806 Royal Fern C...| 1089500|Single family res...|  5| 5456|  24|      0|  44|  77062|
|  9|      85|5850 Petty St, Ho...|  495000|Single family res...|  4| 2611|  38|     39|  41|  77007|
| 10|       0|5606 Champions Gl...|  369500|Single family res...|  3| 2794|  16|      0|  30|  77069|
| 11|      84|1000 Kirby Dr, Ho...|15995000|Single family res...| 10|22880|  34|     46|  61|  77019|
| 12|       0|7138 Hollow Cedar...|  306000|Single family res...|  5| 3159|  18|      0|  32|  77049|
| 13|      39|6215 Maywood Fore...|  255000|Single family res...|  3| 1990|  31|     33|  34|  77088|
| 14|      46|4948 Leeland St, ...|  429900|Single family res...|  2| 1546|  79|     57|  66|  77023|
| 15|       0|14042 Coveney Dr,...|  300000|Single family res...|  4| 2905|  15|     24|  28|  77090|
| 16|      80|3603 Glenwood Spr...|  260000|Single family res...|  4| 2143|  21|      0|  42|  77345|
| 17|      17|3915 Daphne St, H...|  157000|               Ranch|  2| 1300|  63|     49|  53|  77021|
| 18|      37|4508 Old Yale St ...|  369900|Single family res...|  3| 1574|  53|     47|  73|  77018|
| 19|      80|2807 Sandberry Dr...|  279000|Single family res...|  3| 1964|  45|      0|  36|  77345|
| 20|      45|306 Fellows Rd, H...|  225000|Single family res...|  3| 2096|  20|      0|  31|  77047|
+---+--------+--------------------+--------+--------------------+---+-----+----+-------+----+-------+
only showing top 20 rows

In [32]:
#Check the data types of columns
df_properties_rename2.printSchema

In [33]:
# Import data types
from traitlets.traitlets import Float
from locale import currency
from pyspark.sql.types import *

#cast sqft and bed as int datatypes
df_cast = df_properties_rename2.withColumn("sqft", df_properties_rename2["sqft"].cast(IntegerType()))
df_cast2 = df_cast.withColumn("bed", df_properties_rename2["bed"].cast(IntegerType()))

In [34]:
#Check datatypes again
#all correct
df_cast2.printSchema

In [35]:
# show new dataframe
df_cast2.show()

+---+--------+--------------------+--------+--------------------+---+-----+----+-------+----+-------+
| id|super_id|             address|   price|                type|bed| sqft|walk|transit|bike|zipcode|
+---+--------+--------------------+--------+--------------------+---+-----+----+-------+----+-------+
|  1|      80|4031 Wilderness F...|  369900|Single family res...|  2| 2395|  53|      0|  47|  77339|
|  2|      40|19410 Leafwood Ln...|  220000|Single family res...|  3| 1384|  34|      0|  52|  77084|
|  3|       0|13219 Liliana Gle...|  242500|Single family res...|  3| 1597|   8|      0|  26|  77044|
|  4|       0|13219 Liliana Gle...|  129900|               Ranch|  3| 1170|  11|     25|  28|  77014|
|  5|      17|4959 Culmore Dr, ...|  345000|Single family res...|  4| 1925|  50|     54|  56|  77021|
|  6|       0|13219 Liliana Gle...|  260000|Single family res...|  3| 1296|  75|     43|  60|  77008|
|  7|      62|803 Martin Rd A, ...|  449900|Single family res...|  3| 1861|  39|     47|  43|  77018|
|  8|      77|1806 Royal Fern C...| 1089500|Single family res...|  5| 5456|  24|      0|  44|  77062|
|  9|      85|5850 Petty St, Ho...|  495000|Single family res...|  4| 2611|  38|     39|  41|  77007|
| 10|       0|5606 Champions Gl...|  369500|Single family res...|  3| 2794|  16|      0|  30|  77069|
| 11|      84|1000 Kirby Dr, Ho...|15995000|Single family res...| 10|22880|  34|     46|  61|  77019|
| 12|       0|7138 Hollow Cedar...|  306000|Single family res...|  5| 3159|  18|      0|  32|  77049|
| 13|      39|6215 Maywood Fore...|  255000|Single family res...|  3| 1990|  31|     33|  34|  77088|
| 14|      46|4948 Leeland St, ...|  429900|Single family res...|  2| 1546|  79|     57|  66|  77023|
| 15|       0|14042 Coveney Dr,...|  300000|Single family res...|  4| 2905|  15|     24|  28|  77090|
| 16|      80|3603 Glenwood Spr...|  260000|Single family res...|  4| 2143|  21|      0|  42|  77345|
| 17|      17|3915 Daphne St, H...|  157000|               Ranch|  2| 1300|  63|     49|  53|  77021|
| 18|      37|4508 Old Yale St ...|  369900|Single family res...|  3| 1574|  53|     47|  73|  77018|
| 19|      80|2807 Sandberry Dr...|  279000|Single family res...|  3| 1964|  45|      0|  36|  77345|
| 20|      45|306 Fellows Rd, H...|  225000|Single family res...|  3| 2096|  20|      0|  31|  77047|
+---+--------+--------------------+--------+--------------------+---+-----+----+-------+----+-------+
only showing top 20 rows

In [36]:
# Write edited df to properties table in RDS
df_cast2.write.jdbc(url=jdbc_url, table='properties', mode=mode, properties=config)

In [37]:
# Read properties from table
read_df_properties = spark.read.jdbc(url=jdbc_url, table='properties', properties=config)
read_df_properties.show()

+---+--------+--------------------+--------------+--------------------+---+-----+----+-------+----+-------+
| id|super_id|             address|         price|                type|bed| sqft|walk|transit|bike|zipcode|
+---+--------+--------------------+--------------+--------------------+---+-----+----+-------+----+-------+
|  1|      80|4031 Wilderness F...|   $369,900.00|Single family res...|  2| 2395|  53|      0|  47|  77339|
|  2|      40|19410 Leafwood Ln...|   $220,000.00|Single family res...|  3| 1384|  34|      0|  52|  77084|
|  3|       0|13219 Liliana Gle...|   $242,500.00|Single family res...|  3| 1597|   8|      0|  26|  77044|
|  4|       0|13219 Liliana Gle...|   $129,900.00|               Ranch|  3| 1170|  11|     25|  28|  77014|
|  5|      17|4959 Culmore Dr, ...|   $345,000.00|Single family res...|  4| 1925|  50|     54|  56|  77021|
|  6|       0|13219 Liliana Gle...|   $260,000.00|Single family res...|  3| 1296|  75|     43|  60|  77008|
|  7|      62|803 Martin Rd A, ...|   $449,900.00|Single family res...|  3| 1861|  39|     47|  43|  77018|
|  8|      77|1806 Royal Fern C...| $1,089,500.00|Single family res...|  5| 5456|  24|      0|  44|  77062|
|  9|      85|5850 Petty St, Ho...|   $495,000.00|Single family res...|  4| 2611|  38|     39|  41|  77007|
| 10|       0|5606 Champions Gl...|   $369,500.00|Single family res...|  3| 2794|  16|      0|  30|  77069|
| 11|      84|1000 Kirby Dr, Ho...|$15,995,000.00|Single family res...| 10|22880|  34|     46|  61|  77019|
| 12|       0|7138 Hollow Cedar...|   $306,000.00|Single family res...|  5| 3159|  18|      0|  32|  77049|
| 13|      39|6215 Maywood Fore...|   $255,000.00|Single family res...|  3| 1990|  31|     33|  34|  77088|
| 14|      46|4948 Leeland St, ...|   $429,900.00|Single family res...|  2| 1546|  79|     57|  66|  77023|
| 15|       0|14042 Coveney Dr,...|   $300,000.00|Single family res...|  4| 2905|  15|     24|  28|  77090|
| 16|      80|3603 Glenwood Spr...|   $260,000.00|Single family res...|  4| 2143|  21|      0|  42|  77345|
| 17|      17|3915 Daphne St, H...|   $157,000.00|               Ranch|  2| 1300|  63|     49|  53|  77021|
| 18|      37|4508 Old Yale St ...|   $369,900.00|Single family res...|  3| 1574|  53|     47|  73|  77018|
| 19|      80|2807 Sandberry Dr...|   $279,000.00|Single family res...|  3| 1964|  45|      0|  36|  77345|
| 20|      45|306 Fellows Rd, H...|   $225,000.00|Single family res...|  3| 2096|  20|      0|  31|  77047|
+---+--------+--------------------+--------------+--------------------+---+-----+----+-------+----+-------+
only showing top 20 rows

In [38]:
#Read superneighborhoods table
read_df.show()

+---+--------------------+----------------+-----------------------+
| id|                name|total_population|median_household_income|
+---+--------------------+----------------+-----------------------+
|  0|                 N/A|           24819|                  30438|
|  1|    Kashmere Gardens|           10055|                  23102|
|  2|Trinity / Houston...|           15789|                  27789|
|  3|           Settegast|            2981|                  28821|
|  4|Denver Harbor / P...|           17571|                  29273|
|  5|          South Park|           21208|                  29475|
|  6|            Westwood|           19530|                  29527|
|  7|  Greater Fifth Ward|           19687|                  30535|
|  8|Clinton Park / Tr...|            3140|                  31826|
|  9|        East Houston|           18580|                  31826|
| 10|       Magnolia Park|           16999|                  32039|
| 11|Gulfgate Rivervie...|           12723|                  32595|
| 12|       Pleasantville|            2860|                  32899|
| 13|     Eastex - Jensen|           25724|                  32923|
| 14|          Sharpstown|           77220|                  33086|
| 15|Northside / North...|           59410|                  33713|
| 16| Greater Greenspoint|           41392|                  33909|
| 17|Greater OST / Sou...|           19141|                  34019|
| 18|       Hidden Valley|            3569|                  34452|
| 19|          Pecan Park|           16259|                  34622|
+---+--------------------+----------------+-----------------------+
only showing top 20 rows

In [39]:
df_joined = read_df.join(read_df_properties, read_df.id == read_df_properties.super_id, "inner").select(read_df_properties["id"],
                                                                                                        read_df_properties["super_id"],
                                                                                                        read_df["name"],
                                                                                                        read_df["total_population"],
                                                                                                        read_df["median_household_income"],
                                                                                                        read_df_properties["address"],
                                                                                                        read_df_properties["price"],
                                                                                                        read_df_properties["type"],
                                                                                                        read_df_properties["bed"],
                                                                                                        read_df_properties["sqft"],
                                                                                                        read_df_properties["walk"],
                                                                                                        read_df_properties["transit"],
                                                                                                        read_df_properties["bike"],
                                                                                                        read_df_properties["zipcode"]
                                                                                                        )
df_joined.show()

+---+--------+--------------------+----------------+-----------------------+--------------------+-------------+--------------------+---+----+----+-------+----+-------+
| id|super_id|                name|total_population|median_household_income|             address|        price|                type|bed|sqft|walk|transit|bike|zipcode|
+---+--------+--------------------+----------------+-----------------------+--------------------+-------------+--------------------+---+----+----+-------+----+-------+
|268|      31|  Greater Third Ward|           14295|                  40523|2410 Truxillo St,...|  $599,990.00|             Triplex|  3|3514|  77|     53|  83|  77004|
|277|      31|  Greater Third Ward|           14295|                  40523|2909 Cleburne St,...|  $500,000.00|              Duplex|  2|2046|  67|     52|  76|  77004|
|285|      31|  Greater Third Ward|           14295|                  40523|2518 Cleburne St,...|$1,749,900.00|              Duplex|  4|3096|  69|     50|  79|  77004|
|434|      31|  Greater Third Ward|           14295|                  40523|2120 Alabama St, ...|  $344,900.00|Single family res...|  4|2145|  77|     56|  81|  77004|
|864|      31|  Greater Third Ward|           14295|                  40523|2327 Saint Emanue...|  $545,000.00|Single family res...|  4|2800|  50|     50|  50|  77004|
|918|      31|  Greater Third Ward|           14295|                  40523|2307 Berry St, Ho...|  $475,000.00|           Townhouse|  3|2306|  50|     50|  50|  77004|
|  9|      85|Washington Avenue...|           29033|                  99302|5850 Petty St, Ho...|  $495,000.00|Single family res...|  4|2611|  38|     39|  41|  77007|
| 32|      85|Washington Avenue...|           29033|                  99302|5450 Crooms St, H...|  $430,000.00|           Townhouse|  3|2217|  73|     45|  45|  77007|
| 33|      85|Washington Avenue...|           29033|                  99302|915 E Heights Hol...|  $350,000.00|           Townhouse|  2|1644|  78|     49|  75|  77007|
| 41|      85|Washington Avenue...|           29033|                  99302|185 Asbury St, Ho...|  $439,900.00|           Townhouse|  2|2242|  69|     44|  37|  77007|
| 64|      85|Washington Avenue...|           29033|                  99302|5110 Eigel St, Ho...|  $475,000.00|           Townhouse|  3|2681|  84|     45|  52|  77007|
| 69|      85|Washington Avenue...|           29033|                  99302|6602 Wanita Pl A,...|$1,375,000.00|           Townhouse|  4|3859|  55|     38|  48|  77007|
| 70|      85|Washington Avenue...|           29033|                  99302|234 Detering St, ...|  $500,000.00|           Townhouse|  3|2348|  74|     47|  58|  77007|
| 71|      85|Washington Avenue...|           29033|                  99302|4306 Center St, H...|  $599,000.00|           Townhouse|  4|2462|  77|     49|  58|  77007|
| 86|      85|Washington Avenue...|           29033|                  99302|5507 Darling St, ...|  $469,500.00|           Townhouse|  3|2348|  61|     41|  43|  77007|
| 89|      85|Washington Avenue...|           29033|                  99302|6308 Taggart St B...|  $635,000.00|           Townhouse|  3|2656|  74|     41|  54|  77007|
| 92|      85|Washington Avenue...|           29033|                  99302|403 Roy St, Houst...|  $480,000.00|           Townhouse|  2|2032|  80|     48|  66|  77007|
| 95|      85|Washington Avenue...|           29033|                  99302|503 Detering St, ...|  $480,000.00|           Townhouse|  3|2424|  82|     46|  60|  77007|
|270|      85|Washington Avenue...|           29033|                  99302|6126 Tyne St, Hou...|  $385,000.00|              Duplex|  2|1430|  62|     39|  52|  77007|
|303|      85|Washington Avenue...|           29033|                  99302|1513 Reinerman St...|  $449,000.00|           Townhouse|  3|2520|  84|     45|  52|  77007|
+---+--------+--------------------+----------------+-----------------------+--------------------+-------------+--------------------+---+----+----+-------+----+-------+
only showing top 20 rows