In [6]:
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

#from config import db_password

import time

In [11]:
file_dir = "Resources/"
df = pd.read_csv(f'{file_dir}Cleaned_Properties_IDs.csv', low_memory= False, encoding_errors= 'replace')

In [12]:
df.head()

,Unnamed: 0,id,address,price,type,bed,sqft,walk,transit,bike
0,0,80,"4031 Wilderness Falls Trl,�Humble, TX 77339","$369,900",Single family residence,2,"2,395",53,0,47
1,1,40,"19410 Leafwood Ln,�Houston, TX 77084","$220,000",Single family residence,3,"1,384",34,0,52
2,2,0,"13219 Liliana Glen Ln, Houston, TX 77044","$242,500",Single family residence,3,"1,597",8,0,26
3,3,0,"13219 Liliana Glen Ln,�Houston, TX 77014","$129,900",Ranch,3,"1,170",11,25,28
4,4,17,"4959 Culmore Dr,Houston, TX 77021","$345,000",Single family residence,4,"1,925",50,54,56